# app/views/products_notifier/discount.text.erb

Cześć <%= @user.name %>!
Obserwowany przez Ciebie produkt został przeceniony! <%= link_to 'Sprawdź koniecznie', product_detail_url(@product.id, host: "localhost:3000") %>

#css inline style
<div style="width:20px;height:20px;background-color:#ffcc00;"></div>